.icone-compartilhar {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--sertao-chuvoso);
  color: var(--pedra-cruzeiro);
  font-size: 2rem;
  line-height: 0;

  border: none;
  outline: none;
  appearance: none;
  overflow: hidden;

  border-radius: 0.8rem;
  padding: 0.6rem;
  cursor: pointer;

  transition:
    transform 0.2s ease,
    opacity 0.2s ease;
}

.icone-compartilhar svg {
  display: block;
}

.icone-compartilhar:hover {
  transform: scale(1.05);
}

.icone-compartilhar:active {
  transform: scale(0.95);
}

.modal-copiado {
  position: fixed;

  bottom: 5rem;
  right: 37%;

  font-family: 'text-site';
  font-size: 1.1rem;

  background-color: var(--terra-molhada);
  color: white;

  padding: 1rem 1.4rem;
  border-radius: 0.6rem;

  z-index: 999;
  opacity: 1;
  transform: translateY(0);
  animation: entradaModal 0.35s ease;

  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.modal-copiado.saindo {
  opacity: 0;
  transform: translateY(20px);
}

@keyframes entradaModal {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}