.icone-denunciar {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--terra-molhada);
    color: white;
    font-size: 2rem;
    border: none;
    border-radius: 0.8rem;
    padding: 0.7rem 0.9rem;
    cursor: pointer;
    font-family: 'text-site';
}
.icone-denunciar:hover {
    transform: scale(1.05);
}
.icone-denunciar:active {
    transform: scale(0.95);
}

.texto-btn-denu {
    margin-left: 0.5rem;
    font-size: 1.18rem;
}

.popup-denuncia-portal {
    position: absolute;
    z-index: 999;
}
.popup-sucesso-global {
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 999999;
}