.icone-denunciar {
    background-color: var(--terra-molhada);
    border-radius: 0.8rem;
    padding: 0.2rem 0.5rem;
    color: var(--pedra-cruzeiro);
    font-size: 2rem;

    position: absolute;
    top: 70rem;
    right: 22.5rem;
}