.search-content{
    width: 40rem;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-content input {
    width: 100%;
    height: 75%;
    border-radius: 1rem;
    border: none;
    padding: 1rem 1rem 1rem 3.5rem;
    background-color: var(--pedra-cruzeiro);
    box-shadow: 0px 4px 4px 0 #00000025;

}

.icone-search{
    position: relative;
    left: 3rem;
    width: 1.8rem;
    height: 1.8rem;
    color: var(--sertao-chuvoso);
}

.buscar-memoria {
    width: 10rem;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    color: var(--sertao-chuvoso);
    font-family: 'text-button';
    font-weight: bold;
}

.icone-clean{
    position: relative;
    right: 3rem;
    width: 1.8rem;
    height: 1.8rem;
    color: var(--sertao-chuvoso);
    cursor: pointer;
}
