.memoria{
    min-height: 100vh;
    width: 100%;
    height: auto;
    background-color: var(--sertao-chuvoso);
    padding: 10rem;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.area-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.messageItemNotFound{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.messageItemNotFound p {
    color: var(--pedra-cruzeiro);
    font-family: "Title-h2";
    font-size: 16pt;
}