.container-visu-memoria {
    background-color: var(--sertao-chuvoso);
    width: 100%;
    height: auto;
    padding: 3rem 0 3rem 0;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.visu-memoria{
    min-height: 100vh;
    width: 100%;
    height: 90%;
    background-color: var(--pedra-cruzeiro);
    

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.img{
    width: 35rem;
    height: auto;

    margin-top: 5rem;

    background-image: var(--bg-image-memorie);
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    font-family: 'title-h2';
    font-size: 2.25rem;
    padding: 2rem;
}

.tags {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem 0 1rem 0;
}

.tags p {
    padding: 0.5rem;
    border-radius: 1rem;
    font-family: 'title-h2';
    background-color: var(--sertao-chuvoso);
    color: var(--pedra-cruzeiro);

    display: flex;
    align-items: center;
    justify-content: center;
}

.tags p:first-child {
    background-color: var(--pedra-cruzeiro);
    color: var(--sertao-chuvoso);
    border: 0.2rem solid var(--sertao-chuvoso);
}

.text {
    width: 70%;
    font-family: 'text-site';
    text-align: justify;
    font-size: 1.18rem;
    margin: 2rem 0 10rem 0;
}

.denu-comp {
    display: flex;
}