.header-content {
    width: 100%;
    height: 7rem;
    background-color: var(--pedra-cruzeiro);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: self-end;
    padding-left: 10rem;
    padding-right: 10rem;
}

.logo {
    width: 15rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}