.filter-content {
    width: auto;
    height: auto;
    min-height: 5rem;
    padding-top: 0.8rem;
}
.btn-filter{
    width: 3.5rem;
    height: 3.5rem;
    border: none;
    border-radius: 1rem;

    background-color: var(--pedra-cruzeiro);
    box-shadow: 0px 4px 4px 0 #00000025;
}

.icon-filter{
    margin-top: 0.3rem;
    width: 50%;
    height: 50%;
}

.card-filter-open {
    width: auto;
    height: auto;
    background-color: var(--pedra-cruzeiro);
    position: absolute;
    transform: translateX(-90%);
    margin: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;

    border-radius: 2rem;
    box-shadow: 0px 4px 4px 0 #00000025;

}

.btn-submit-filter {
    border: none;
    background-color: var(--sertao-chuvoso);
    font-family: 'text-button';
    color: var(--pedra-cruzeiro);
    padding: 1rem 2rem;
    border-radius: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12pt;

    width: auto;
    height: auto;

    transition: transform 0.3 ease;
}

.btn-submit-filter:hover{
    box-shadow: 0px 4px 4px 0 #00000025;
    transform: scale(1.01);
}

.btn-submit-filter:active{
    box-shadow: none;
    transform: scale(0.99);
}
