.container-fracasso {
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background: var(--terra-molhada);
  border-radius: 1.25rem;
  padding: 2rem 2rem;
  z-index: 1003;
  text-align: center;
  font-family: "text-site";
  width: fit-content;
}

.titulo-fracasso {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.texto-fracasso {
  color: white;
  font-size: 1rem;
}
