.ponto-turistico{
    min-height: 100vh;
    width: 100%;
    height: auto;
    background-color: var(--terra-molhada);
    padding: 10rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.content-ponto-turistico {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 100;
    margin-top: 4rem;
}

.varal {
    width: 100%;
    height: 1rem;
    background-color: var(--areia-sertao);
    position: absolute;
    z-index: 0;
    top: 28.5rem;
}